<!DOCTYPE html>
<html lang="en">
<head>
    <title>CarPartsIsUs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <a th:href="@{/mainscreen}">Home</a>
    <h1> About us!</h1>
    <p>We are a small car parts company, from the small city of New York City! using recycled Kia Souls to rebuild your truck or car or
    anything that is capable of having metal attached to it! We are for the customer not trying to buy a part that
    is worth more than the car itself. </p>
</body>
</html>